.app {
    height: 100vh;
    background-color: #FFF;
    /* Màu nền tổng thể */
}

.todo-list {
    border-radius: 4px;
    width: 260px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.text {
    color: #FFF;
    margin-left: 10px;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.number-box {
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-text {
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.todo {
    background: #00A6DA;

}

.todo .text {
    margin-right: 188px;
}

.todo .number-box {
    background: #00CDDA;
}

.doing {
    background: rgba(204, 172, 3, 0.56);
}

.doing .text {
    margin-right: 182px;
}

.doing .number-box {
    background: #DAB700;
}

.completed {
    background: #3BC057;
}

.completed .text {
    margin-right: 148px;
}

.completed .number-box {
    background: #69CE7E;
}

.blocked {
    background: #E74C3C;
}

.blocked .text {
    margin-right: 172px;
}

.blocked .number-box {
    background: #ec3520;
}

.line {
    width: 260px;
    height: 2px;
    margin-top: 10px;
    margin-right: 40px;
}

/* Styles for task boxes */
.box {
    width: 260px;
    height: 216px;
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 8px 20px rgba(0, 0, 0, .1);
}

.category {
    color: #4D8EFF;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.category img {
    width: 18px;
    height: 18.228px;
}

.title-line {
    width: 253px;
    height: 1px;
    background: #DBDBDB;
}

.title {
    color: #393939;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;

}

.content {
    color: #5A5C63;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.date-time {
    color: #5A5C63;

    font-family: "Plus Jakarta Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    display: flex;
    align-items: center;

}

.date-time img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-top: 60px;
    cursor: pointer;
}
.header > img {
    padding-top: 20px;
}